<app-header></app-header>
<div class="container-fluid p-0">
    <div class="row gx-2">
        <div class="col-12">
            <img class="w-100" src="../../../assets/mbhheadernew.jpg" alt="">
        </div>
    </div>
</div>
<section>
    <div class="how-it-work-section">
        <h1>জুন-জুলাই ২০২২</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="content-wrapper">
                        <div class="content-item">
                            <img class="w-100" src ="../../../assets/mbhjune22.png" alt="">
                        </div>
                        <p>ছবি: <span>অভীক চক্রবর্তী</span></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="content-wrapper">
                        <div class="content-item">
                            <img class="w-100" src ="../../../assets/mbhjune22.png" alt="">
                        </div>
                        <p>ছবি: <span>অভীক চক্রবর্তী</span></p>
                    </div>
                </div>
                <div class="read-more">
                    <p>জঙ্গলমহল লালমাটি মাওবাদ ও প্রান্তিক জনজীবনের ব্যাতিক্রমী আখ্যান। এরকম
                        উপন্যাস বাংলাসাহিত্যে বিরল...
                        <a href="javascript:void(0)">পড়ুন </a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <mat-tab-group class="tab-head" dynamicHeight>
                        <mat-tab label="প্রবন্ধ||নিবন্ধ||প্রতিবেদন||অন্যগদ্য||কলাম">
                          <div class="example-large-box mat-elevation-z4">
                            <ul class="items-list">
                                <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">অজিত রায়-ঔপন্যাসিক, গদ্যভাস্কর ও ভাবুক: মলয় রায়চৌধুরী </a></li>
                                <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">ভারতীয় প্রশাসনিক সেবা বা IAS এমন একটি ব্যবস্থা যা মধ্যমান ও ঝুঁকিহীনতাকে প্রশ্রয় দেয়:
                                    ডি সুব্বারাও</a></li>
                                <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">খৈয়াম: ঊর্ণনাভ তন্তু ঘোষ</a></li>
                                <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">ছুটি: মৃণাল শতপথী</a></li>
                            </ul>
                          </div>
                        </mat-tab>
                        <mat-tab label="সম্পূর্ণ উপন্যাস">
                          <div class="example-small-box mat-elevation-z4">
                            <ul class="items-list">
                                <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">শ্রীমতী কমলাসুন্দরী ও তার সাত প্রেমিক: অনিরুদ্ধ চক্রবর্তী</a></li>
                            </ul>
                          </div>
                        </mat-tab>
                        <mat-tab label="ধারাবাহিক উপন্যাস">
                            <div class="example-large-box mat-elevation-z4">
                                <ul class="items-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">লালমাটি, বির-বুরু ও স্বপ্নদর্শীরা: দুর্বাদল মজুমদার</a></li>
                                </ul>
                            </div>
                          </mat-tab>
                          <mat-tab label="গল্প">
                            <div class="example-large-box mat-elevation-z4">
                                <ul class="items-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">আত্মীয়স্বজন: শঙ্খদীপ ভট্টাচার্য</a></li>
                                    <li><a href="javascript:void(0)">বকুলফুল: অমর্ত্য বন্দ্যোপাধ্যায়</a></li>
                                </ul>
                            </div>
                          </mat-tab>
                          <mat-tab label="বইপড়া">
                            <div class="example-large-box mat-elevation-z4">
                                <ul class="items-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">কাবেরী রায়চৌধুরীর উপন্যাস - ‘মা’ – এক ঈর্ষাকাতর অনুভূতির নাম: রূপা কুণ্ডু</a></li>
                                </ul>
                            </div>
                          </mat-tab>
                          <mat-tab label="অনুবাদ">
                            <div class="example-large-box mat-elevation-z4">
                                <ul class="items-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">পল ভেরলেনের কবিতা: দিবাকর পুরকায়স্থ</a></li>
                                </ul>
                            </div>
                          </mat-tab>
                          <mat-tab label="কবিতা">
                            <div class="example-large-box mat-elevation-z4">
                                <ul class="items-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="javascript:void(0)">বিশ্বজিৎ চ্যাটার্জি || বিপুল চক্রবর্তী || অর্পিতা বন্দ্যোপাধ্যায় || দীপকরঞ্জন
                                        ভট্টাচার্য || দেবাশিস সাহা || তনুজ || নিমাই জানা || অশোক কুমার দত্ত </a></li>
                                </ul>
                            </div>
                          </mat-tab>
                      </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>