<div class="topnav" id="myTopnav">
    <a href="index.php">প্রথম পাতা</a>
    <a href="probondho-nibondho-protibedon.php">প্রবন্ধ-নিবন্ধ-প্রতিবেদন</a>
    <a href="uponyas.php">উপন্যাস</a>
    <a href="golpo.php">গল্প</a>

    <a href="onubad.php">অনুবাদ</a>
    <a href="boipora.php">বইপড়া </a>
    <a href="kobita-june22.php">কবিতা</a>
    <a href="lekhapottor.php">সংখ্যাগুলি</a>
    <a href="socialmedia.php">সোশ্যাল মিডিয়া</a>
    <div class="dropdown">
        <button class="dropbtn">পত্রিকা-সম্পর্কে

        </button>
        <div class="dropdown-content">
            <a href="amra.php">আমরা</a>
            <a href="lekhokderproti.php">লেখকদের প্রতি</a>
            <!-- <a href="abedon.php">আবেদন</a> -->
            <a style="font-family: Georgia, 'Times New Roman', Times, serif;  font-size: 16px; padding-top: 20px;" href="https://docs.google.com/forms/d/14xk2kaQybOS7G8uV92VRqqovZWU6c3jzf15YEXLJTKY/edit">VOLUNTEER</a>
        </div>
    </div>


    <!-- <a style="float: right; padding:15px;" >
        <form method="post" class="search"  action="search/search.php">
            <input type="textbox" name="str" required />
            <input type="submit" name="submit" value="Search" />
        </form>
    </a> -->
    <a href="https://www.facebook.com/mahabharatmag" class="fa fa-facebook" style="float: right;"></a>

    <a href="https://www.instagram.com/mahabharatmag/?hl=en" class="fa fa-instagram" style="float: right;"></a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">☰</a>
</div>