<div class="topnav" id="myTopnav">
    <a href="javascript:void(0)">প্রথম পাতা</a>
    <a href="javascript:void(0)">প্রবন্ধ-নিবন্ধ-প্রতিবেদন</a>
    <a href="javascript:void(0)">উপন্যাস</a>
    <a href="javascript:void(0)">গল্প</a>

    <a href="javascript:void(0)">অনুবাদ</a>
    <a href="javascript:void(0)">বইপড়া </a>
    <a href="javascript:void(0)">কবিতা</a>
    <a href="javascript:void(0)">সংখ্যাগুলি</a>
    <a href="javascript:void(0)">সোশ্যাল মিডিয়া</a>
    <div class="dropdown">
        <button class="dropbtn">পত্রিকা-সম্পর্কে

        </button>
        <div class="dropdown-content">
            <a href="javascript:void(0)">আমরা</a>
            <a href="javascript:void(0)">লেখকদের প্রতি</a>
            <a style="font-family: Georgia, 'Times New Roman', Times, serif;  font-size: 16px; padding-top: 20px;" href="https://docs.google.com/forms/d/14xk2kaQybOS7G8uV92VRqqovZWU6c3jzf15YEXLJTKY/edit">VOLUNTEER</a>
        </div>
    </div>
    <a href="javascript:void(0)" class="fa fa-facebook" style="float: right;"></a>

    <a href="javascript:void(0)" class="fa fa-instagram" style="float: right;"></a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon">☰</a>
</div>